# Dataset Fetch

In [14]:
%pip install kaggle
!kaggle datasets download -d paramaggarwal/fashion-product-images-small

Collecting kaggle
  Downloading kaggle-1.6.14.tar.gz (82 kB)
     ---------------------------------------- 82.1/82.1 kB 1.1 MB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Requirement already satisfied: six>=1.10 in c:\users\ashmita\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from kaggle) (1.16.0)
Collecting certifi>=2023.7.22 (from kaggle)
  Downloading certifi-2024.6.2-py3-none-any.whl.metadata (2.2 kB)
Requirement already satisfied: python-dateutil in c:\users\ashmita\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from kaggle) (2.8.2)
Requirement already satisfied: requests in c:\users\ashmita\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from kaggle) (2.28.1)
Collecting tqdm (from kaggle)
  Downloading tqdm-4.66.4-py3-none-any.whl.metadata (57 kB)
     ---------------------------------------- 57.6/57.6 kB 3.0 MB/s eta 0:00:00
Collecting python-slugify (from kaggle)
  Downloading python_slugify-8.0.4-py2.py3-none-any.whl.metadata (8.5 kB)
Requirement already satisfied: urllib3 in c:\users\ashmita\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from kaggle) (1.26.10)
Requirement already satisfied: bleach in c:\users\ashmita\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from kaggle) (5.0.1)
Requirement already satisfied: webencodings in c:\users\ashmita\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from bleach->kaggle) (0.5.1)
Collecting text-unidecode>=1.3 (from python-slugify->kaggle)
  Downloading text_unidecode-1.3-py2.py3-none-any.whl.metadata (2.4 kB)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\ashmita\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from requests->kaggle) (2.1.0)
Requirement already satisfied: idna<4,>=2.5 in c:\users\ashmita\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from requests->kaggle) (3.3)
Requirement already satisfied: colorama in c:\users\ashmita\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from tqdm->kaggle) (0.4.5)
Downloading certifi-2024.6.2-py3-none-any.whl (164 kB)
   ---------------------------------------- 164.4/164.4 kB 2.5 MB/s eta 0:00:00
Downloading python_slugify-8.0.4-py2.py3-none-any.whl (10 kB)
Downloading tqdm-4.66.4-py3-none-any.whl (78 kB)
   ---------------------------------------- 78.3/78.3 kB 4.3 MB/s eta 0:00:00
Downloading text_unidecode-1.3-py2.py3-none-any.whl (78 kB)
   ---------------------------------------- 78.2/78.2 kB 4.2 MB/s eta 0:00:00
Building wheels for collected packages: kaggle
  Building wheel for kaggle (setup.py): started
  Building wheel for kaggle (setup.py): finished with status 'done'
  Created wheel for kaggle: filename=kaggle-1.6.14-py3-none-any.whl size=105123 sha256=d3a662615532aefbfada53d8fbf1f58cf453fd1dae15e08e850ae92c3d69b404
  Stored in directory: c:\users\ashmita\appdata\local\pip\cache\wheels\d7\54\06\8a8f40cb39536605feb9acaacd0237a95eba39e5065e6392f4
Successfully built kaggle
Installing collected packages: text-unidecode, tqdm, python-slugify, certifi, kaggle
  Attempting uninstall: certifi
    Found existing installation: certifi 2022.6.15
    Uninstalling certifi-2022.6.15:
      Successfully uninstalled certifi-2022.6.15
Successfully installed certifi-2024.6.2 kaggle-1.6.14 python-slugify-8.0.4 text-unidecode-1.3 tqdm-4.66.4
Note: you may need to restart the kernel to use updated packages.

  WARNING: The script tqdm.exe is installed in 'C:\Users\ASHMITA\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\Scripts' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.
  WARNING: The script slugify.exe is installed in 'C:\Users\ASHMITA\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\Scripts' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.
  WARNING: The script kaggle.exe is installed in 'C:\Users\ASHMITA\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\Scripts' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.

Dataset URL: https://www.kaggle.com/datasets/paramaggarwal/fashion-product-images-small
License(s): copyright-authors
Downloading fashion-product-images-small.zip to C:\Users\ASHMITA\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\Scripts

  0%|          | 0.00/565M [00:00<?, ?B/s]
  0%|          | 1.00M/565M [00:01<15:29, 636kB/s]
  1%|          | 3.00M/565M [00:01<04:40, 2.10MB/s]
  1%|          | 4.00M/565M [00:02<04:05, 2.39MB/s]
  1%|1         | 6.00M/565M [00:02<02:27, 3.96MB/s]
  1%|1         | 7.00M/565M [00:02<02:10, 4.49MB/s]
  2%|1         | 9.00M/565M [00:02<01:32, 6.29MB/s]
  2%|1         | 11.0M/565M [00:02<01:17, 7.50MB/s]
  2%|2         | 13.0M/565M [00:02<01:06, 8.76MB/s]
  3%|2         | 15.0M/565M [00:03<01:00, 9.53MB/s]
  3%|3         | 17.0M/565M [00:03<00:56, 10.2MB/s]
  3%|3         | 19.0M/565M [00:03<00:53, 10.7MB/s]
  4%|3         | 21.0M/565M [00:03<00:51, 11.0MB/s]
  4%|4         | 23.0M/565M [00:03<00:50, 11.2MB/s]
  4%|4         | 25.0M/565M [00:04<00:49, 11.4MB/s]
  5%|4         | 27.0M/565M [00:04<01:03, 8.92MB/s]
  5%|4         | 28.0M/565M [00:04<01:10, 7.97MB/s]
  5%|5         | 29.0M/565M [00:04<01:07, 8.27MB/s]
  5%|5         | 31.0M/565M [00:04<01:00, 9.27MB/s]
  6%|5         | 33.0M/565M [00:05<00:55, 9.99MB/s]
  6%|6         | 35.0M/565M [00:05<00:53, 10.5MB/s]
  7%|6         | 37.0M/565M [00:05<00:50, 10.9MB/s]
  7%|6         | 39.0M/565M [00:05<00:49, 11.1MB/s]
  7%|7         | 41.0M/565M [00:05<00:49, 11.2MB/s]
  8%|7         | 43.0M/565M [00:06<00:51, 10.6MB/s]
  8%|7         | 45.0M/565M [00:06<00:49, 10.9MB/s]
  8%|8         | 47.0M/565M [00:06<00:48, 11.2MB/s]
  9%|8         | 49.0M/565M [00:07<01:28, 6.15MB/s]
  9%|9         | 51.0M/565M [00:07<01:14, 7.19MB/s]
  9%|9         | 53.0M/565M [00:07<01:05, 8.15MB/s]
 10%|9         | 55.0M/565M [00:07<00:59, 8.98MB/s]
 10%|#         | 57.0M/565M [00:07<00:54, 9.69MB/s]
 10%|#         | 59.0M/565M [00:08<01:26, 6.14MB/s]
 11%|#         | 61.0M/565M [00:08<01:13, 7.16MB/s]
 11%|#1        | 63.0M/565M [00:08<01:04, 8.14MB/s]
 12%|#1        | 65.0M/565M [00:08<00:58, 8.98MB/s]
 12%|#1        | 67.0M/565M [00:09<00:53, 9.67MB/s]
 12%|#2        | 69.0M/565M [00:09<00:50, 10.2MB/s]
 13%|#2        | 71.0M/565M [00:09<00:48, 10.6MB/s]
 13%|#2        | 73.0M/565M [00:09<00:59, 8.69MB/s]
 13%|#3        | 75.0M/565M [00:10<00:55, 9.24MB/s]
 14%|#3        | 77.0M/565M [00:10<00:51, 10.0MB/s]
 14%|#3        | 79.0M/565M [00:10<00:48, 10.5MB/s]
 14%|#4        | 81.0M/565M [00:10<00:46, 10.9MB/s]
 15%|#4        | 83.0M/565M [00:10<00:45, 11.1MB/s]
 15%|#5        | 85.0M/565M [00:11<01:07, 7.47MB/s]
 15%|#5        | 87.0M/565M [00:11<00:59, 8.39MB/s]
 16%|#5        | 89.0M/565M [00:11<00:54, 9.19MB/s]
 16%|#6        | 91.0M/565M [00:11<00:50, 9.84MB/s]
 16%|#6        | 93.0M/565M [00:12<00:56, 8.69MB/s]
 17%|#6        | 95.0M/565M [00:12<00:52, 9.41MB/s]
 17%|#7        | 97.0M/565M [00:12<00:48, 10.0MB/s]
 18%|#7        | 99.0M/565M [00:12<00:46, 10.5MB/s]
 18%|#7        | 101M/565M [00:12<00:44, 10.9MB/s]
 18%|#8        | 103M/565M [00:13<01:23, 5.78MB/s]
 19%|#8        | 105M/565M [00:13<01:11, 6.74MB/s]
 19%|#8        | 106M/565M [00:13<01:18, 6.12MB/s]
 19%|#9        | 108M/565M [00:14<01:05, 7.29MB/s]
 19%|#9        | 110M/565M [00:14<01:09, 6.90MB/s]
 20%|#9        | 112M/565M [00:14<00:59, 7.94MB/s]
 20%|##        | 114M/565M [00:14<00:53, 8.85MB/s]
 21%|##        | 116M/565M [00:15<00:49, 9.58MB/s]
 21%|##        | 118M/565M [00:15<00:46, 10.2MB/s]
 21%|##1       | 120M/565M [00:15<00:43, 10.6MB/s]
 22%|##1       | 122M/565M [00:15<00:42, 11.0MB/s]
 22%|##1       | 124M/565M [00:15<00:41, 11.2MB/s]
 22%|##2       | 126M/565M [00:15<00:40, 11.4MB/s]
 23%|##2       | 128M/565M [00:16<00:39, 11.5MB/s]
 23%|##3       | 130M/565M [00:16<01:17, 5.91MB/s]
 23%|##3       | 132M/565M [00:17<01:05, 6.92MB/s]
 24%|##3       | 133M/565M [00:17<01:21, 5.55MB/s]
 24%|##3       | 135M/565M [00:17<01:06, 6.75MB/s]
 24%|##4       | 137M/565M [00:17<00:57, 7.81MB/s]
 25%|##4       | 139M/565M [00:17<00:51, 8.76MB/s]
 25%|##4       | 141M/565M [00:18<00:47, 9.40MB/s]
 25%|##5       | 143M/565M [00:18<00:44, 9.93MB/s]
 26%|##5       | 145M/565M [00:18<00:42, 10.3MB/s]
 26%|##6       | 147M/565M [00:18<00:40, 10.8MB/s]
 26%|##6       | 149M/565M [00:18<00:39, 11.0MB/s]
 27%|##6       | 151M/565M [00:19<00:38, 11.3MB/s]
 27%|##7       | 153M/565M [00:19<01:24, 5.09MB/s]
 27%|##7       | 155M/565M [00:20<01:26, 5.00MB/s]
 28%|##7       | 157M/565M [00:20<01:24, 5.04MB/s]
 28%|##8       | 159M/565M [00:20<01:09, 6.09MB/s]
 28%|##8       | 161M/565M [00:21<00:59, 7.07MB/s]
 29%|##8       | 163M/565M [00:21<00:52, 8.01MB/s]
 29%|##9       | 165M/565M [00:21<00:47, 8.87MB/s]
 30%|##9       | 167M/565M [00:21<00:43, 9.58MB/s]
 30%|##9       | 169M/565M [00:21<00:40, 10.1MB/s]
 30%|###       | 171M/565M [00:22<00:39, 10.6MB/s]
 31%|###       | 173M/565M [00:22<00:37, 10.9MB/s]
 31%|###       | 175M/565M [00:22<00:36, 11.2MB/s]
 31%|###1      | 177M/565M [00:22<00:35, 11.3MB/s]
 32%|###1      | 179M/565M [00:22<00:35, 11.4MB/s]
 32%|###2      | 181M/565M [00:22<00:34, 11.5MB/s]
 32%|###2      | 183M/565M [00:23<00:34, 11.6MB/s]
 33%|###2      | 185M/565M [00:24<01:37, 4.09MB/s]
 33%|###3      | 187M/565M [00:25<01:57, 3.36MB/s]
 33%|###3      | 189M/565M [00:25<01:32, 4.28MB/s]
 34%|###3      | 191M/565M [00:25<01:14, 5.29MB/s]
 34%|###4      | 193M/565M [00:25<01:01, 6.34MB/s]
 35%|###4      | 195M/565M [00:25<00:52, 7.36MB/s]
 35%|###4      | 197M/565M [00:26<00:46, 8.30MB/s]
 35%|###5      | 199M/565M [00:26<00:42, 9.11MB/s]
 36%|###5      | 201M/565M [00:26<00:39, 9.78MB/s]
 36%|###5      | 203M/565M [00:26<00:36, 10.3MB/s]
 36%|###6      | 205M/565M [00:26<00:35, 10.7MB/s]
 37%|###6      | 207M/565M [00:27<00:34, 10.9MB/s]
 37%|###6      | 209M/565M [00:27<00:40, 9.31MB/s]
 37%|###7      | 211M/565M [00:27<00:37, 9.93MB/s]
 38%|###7      | 213M/565M [00:27<00:35, 10.4MB/s]
 38%|###8      | 215M/565M [00:27<00:33, 10.8MB/s]
 38%|###8      | 217M/565M [00:28<00:32, 11.1MB/s]
 39%|###8      | 219M/565M [00:28<00:32, 11.2MB/s]
 39%|###9      | 221M/565M [00:28<00:31, 11.4MB/s]
 39%|###9      | 223M/565M [00:28<00:31, 11.5MB/s]
 40%|###9      | 225M/565M [00:28<00:30, 11.6MB/s]
 40%|####      | 227M/565M [00:29<00:36, 9.70MB/s]
 41%|####      | 229M/565M [00:29<00:34, 10.2MB/s]
 41%|####      | 231M/565M [00:29<00:32, 10.7MB/s]
 41%|####1     | 233M/565M [00:29<00:39, 8.80MB/s]
 41%|####1     | 234M/565M [00:30<00:56, 6.16MB/s]
 42%|####1     | 236M/565M [00:30<00:46, 7.36MB/s]
 42%|####2     | 238M/565M [00:30<00:53, 6.36MB/s]
 42%|####2     | 240M/565M [00:30<00:45, 7.43MB/s]
 43%|####2     | 242M/565M [00:31<00:40, 8.41MB/s]
 43%|####3     | 244M/565M [00:31<00:36, 9.20MB/s]
 44%|####3     | 246M/565M [00:31<00:33, 9.88MB/s]
 44%|####3     | 248M/565M [00:31<00:31, 10.4MB/s]
 44%|####4     | 250M/565M [00:32<00:44, 7.39MB/s]
 45%|####4     | 252M/565M [00:32<00:39, 8.37MB/s]
 45%|####4     | 254M/565M [00:32<00:35, 9.18MB/s]
 45%|####5     | 256M/565M [00:33<00:53, 6.05MB/s]
 46%|####5     | 258M/565M [00:33<00:45, 7.08MB/s]
 46%|####6     | 260M/565M [00:33<00:39, 8.00MB/s]
 46%|####6     | 261M/565M [00:33<00:43, 7.34MB/s]
 46%|####6     | 262M/565M [00:33<00:47, 6.64MB/s]
 47%|####6     | 264M/565M [00:34<00:40, 7.88MB/s]
 47%|####6     | 265M/565M [00:34<00:51, 6.09MB/s]
 47%|####7     | 267M/565M [00:34<00:42, 7.42MB/s]
 48%|####7     | 269M/565M [00:34<00:36, 8.52MB/s]
 48%|####7     | 271M/565M [00:34<00:32, 9.39MB/s]
 48%|####8     | 273M/565M [00:35<00:30, 10.0MB/s]
 49%|####8     | 275M/565M [00:35<00:28, 10.5MB/s]
 49%|####9     | 277M/565M [00:35<00:27, 10.9MB/s]
 49%|####9     | 279M/565M [00:35<00:26, 11.1MB/s]
 50%|####9     | 281M/565M [00:35<00:26, 11.3MB/s]
 50%|#####     | 283M/565M [00:36<00:25, 11.4MB/s]
 50%|#####     | 285M/565M [00:36<00:25, 11.5MB/s]
 51%|#####     | 287M/565M [00:36<00:25, 11.6MB/s]
 51%|#####1    | 289M/565M [00:36<00:24, 11.7MB/s]
 51%|#####1    | 291M/565M [00:36<00:24, 11.7MB/s]
 52%|#####1    | 293M/565M [00:36<00:24, 11.7MB/s]
 52%|#####2    | 295M/565M [00:37<00:24, 11.8MB/s]
 53%|#####2    | 297M/565M [00:37<00:34, 8.20MB/s]
 53%|#####2    | 299M/565M [00:37<00:30, 9.04MB/s]
 53%|#####3    | 301M/565M [00:37<00:28, 9.72MB/s]
 54%|#####3    | 303M/565M [00:38<00:26, 10.3MB/s]
 54%|#####3    | 305M/565M [00:38<00:25, 10.7MB/s]
 54%|#####4    | 307M/565M [00:38<00:24, 11.0MB/s]
 55%|#####4    | 309M/565M [00:38<00:23, 11.2MB/s]
 55%|#####5    | 311M/565M [00:38<00:23, 11.4MB/s]
 55%|#####5    | 313M/565M [00:38<00:22, 11.5MB/s]
 56%|#####5    | 315M/565M [00:39<00:22, 11.6MB/s]
 56%|#####6    | 317M/565M [00:39<00:22, 11.7MB/s]
 56%|#####6    | 319M/565M [00:39<00:34, 7.51MB/s]
 57%|#####6    | 321M/565M [00:39<00:30, 8.36MB/s]
 57%|#####7    | 323M/565M [00:40<00:27, 9.15MB/s]
 58%|#####7    | 325M/565M [00:40<00:34, 7.25MB/s]
 58%|#####7    | 327M/565M [00:40<00:30, 8.21MB/s]
 58%|#####8    | 329M/565M [00:40<00:27, 9.04MB/s]
 59%|#####8    | 331M/565M [00:41<00:25, 9.74MB/s]
 59%|#####8    | 333M/565M [00:41<00:35, 6.88MB/s]
 59%|#####9    | 334M/565M [00:41<00:43, 5.52MB/s]
 59%|#####9    | 336M/565M [00:42<00:35, 6.73MB/s]
 60%|#####9    | 338M/565M [00:42<00:30, 7.76MB/s]
 60%|######    | 340M/565M [00:42<00:27, 8.57MB/s]
 60%|######    | 341M/565M [00:42<00:39, 5.88MB/s]
 61%|######    | 343M/565M [00:43<00:32, 7.12MB/s]
 61%|######1   | 345M/565M [00:43<00:28, 8.20MB/s]
 61%|######1   | 347M/565M [00:43<00:25, 8.89MB/s]
 62%|######1   | 348M/565M [00:43<00:34, 6.51MB/s]
 62%|######1   | 350M/565M [00:44<00:29, 7.68MB/s]
 62%|######2   | 351M/565M [00:44<00:28, 7.96MB/s]
 62%|######2   | 353M/565M [00:44<00:24, 9.04MB/s]
 63%|######2   | 355M/565M [00:44<00:22, 9.82MB/s]
 63%|######3   | 357M/565M [00:44<00:21, 10.4MB/s]
 64%|######3   | 359M/565M [00:44<00:20, 10.8MB/s]
 64%|######3   | 361M/565M [00:45<00:46, 4.64MB/s]
 64%|######4   | 363M/565M [00:46<00:37, 5.68MB/s]
 65%|######4   | 365M/565M [00:46<00:31, 6.74MB/s]
 65%|######4   | 367M/565M [00:46<00:26, 7.76MB/s]
 65%|######5   | 369M/565M [00:46<00:23, 8.67MB/s]
 66%|######5   | 371M/565M [00:46<00:21, 9.41MB/s]
 66%|######5   | 373M/565M [00:46<00:20, 10.0MB/s]
 66%|######6   | 375M/565M [00:47<00:36, 5.51MB/s]
 67%|######6   | 377M/565M [00:48<00:40, 4.91MB/s]
 67%|######7   | 379M/565M [00:48<00:32, 5.96MB/s]
 67%|######7   | 380M/565M [00:48<00:40, 4.74MB/s]
 68%|######7   | 382M/565M [00:49<00:32, 5.91MB/s]
 68%|######7   | 384M/565M [00:49<00:27, 7.03MB/s]
 68%|######8   | 386M/565M [00:49<00:23, 8.04MB/s]
 69%|######8   | 388M/565M [00:49<00:20, 8.94MB/s]
 69%|######9   | 390M/565M [00:49<00:18, 9.68MB/s]
 69%|######9   | 392M/565M [00:49<00:17, 10.3MB/s]
 70%|######9   | 394M/565M [00:50<00:16, 10.7MB/s]
 70%|#######   | 396M/565M [00:50<00:22, 8.02MB/s]
 70%|#######   | 398M/565M [00:50<00:19, 8.89MB/s]
 71%|#######   | 400M/565M [00:50<00:18, 9.59MB/s]
 71%|#######1  | 402M/565M [00:51<00:16, 10.1MB/s]
 71%|#######1  | 404M/565M [00:51<00:15, 10.7MB/s]
 72%|#######1  | 406M/565M [00:51<00:15, 10.9MB/s]
 72%|#######2  | 408M/565M [00:51<00:14, 11.1MB/s]
 73%|#######2  | 410M/565M [00:51<00:14, 11.2MB/s]
 73%|#######2  | 412M/565M [00:52<00:14, 10.9MB/s]
 73%|#######3  | 414M/565M [00:52<00:14, 11.3MB/s]
 74%|#######3  | 416M/565M [00:52<00:13, 11.5MB/s]
 74%|#######3  | 418M/565M [00:52<00:13, 11.5MB/s]
 74%|#######4  | 420M/565M [00:52<00:13, 11.6MB/s]
 75%|#######4  | 422M/565M [00:52<00:13, 11.4MB/s]
 75%|#######5  | 424M/565M [00:53<00:32, 4.58MB/s]
 75%|#######5  | 426M/565M [00:54<00:26, 5.61MB/s]
 76%|#######5  | 428M/565M [00:54<00:21, 6.65MB/s]
 76%|#######6  | 430M/565M [00:54<00:18, 7.65MB/s]
 76%|#######6  | 432M/565M [00:54<00:16, 8.55MB/s]
 77%|#######6  | 434M/565M [00:55<00:22, 6.08MB/s]
 77%|#######7  | 436M/565M [00:55<00:19, 7.11MB/s]
 77%|#######7  | 438M/565M [00:55<00:16, 8.06MB/s]
 78%|#######7  | 440M/565M [00:55<00:14, 8.91MB/s]
 78%|#######8  | 442M/565M [00:56<00:23, 5.59MB/s]
 79%|#######8  | 444M/565M [00:56<00:19, 6.57MB/s]
 79%|#######8  | 445M/565M [00:56<00:19, 6.32MB/s]
 79%|#######8  | 446M/565M [00:57<00:18, 6.74MB/s]
 79%|#######9  | 447M/565M [00:57<00:16, 7.29MB/s]
 79%|#######9  | 449M/565M [00:57<00:14, 8.46MB/s]
 80%|#######9  | 451M/565M [00:57<00:12, 9.48MB/s]
 80%|########  | 453M/565M [00:57<00:11, 10.2MB/s]
 81%|########  | 455M/565M [00:58<00:15, 7.60MB/s]
 81%|########  | 457M/565M [00:58<00:13, 8.56MB/s]
 81%|########1 | 458M/565M [00:58<00:12, 8.85MB/s]
 81%|########1 | 459M/565M [00:58<00:17, 6.38MB/s]
 81%|########1 | 460M/565M [00:58<00:15, 6.94MB/s]
 82%|########1 | 462M/565M [00:58<00:13, 8.17MB/s]
 82%|########2 | 464M/565M [00:59<00:11, 9.20MB/s]
 82%|########2 | 466M/565M [00:59<00:10, 9.91MB/s]
 83%|########2 | 468M/565M [00:59<00:09, 10.5MB/s]
 83%|########3 | 470M/565M [00:59<00:09, 10.4MB/s]
 84%|########3 | 472M/565M [01:00<00:12, 7.92MB/s]
 84%|########3 | 474M/565M [01:00<00:10, 8.80MB/s]
 84%|########4 | 476M/565M [01:00<00:09, 9.57MB/s]
 85%|########4 | 478M/565M [01:00<00:12, 7.37MB/s]
 85%|########4 | 480M/565M [01:01<00:10, 8.33MB/s]
 85%|########5 | 482M/565M [01:01<00:09, 9.14MB/s]
 85%|########5 | 483M/565M [01:01<00:12, 6.81MB/s]
 86%|########5 | 485M/565M [01:01<00:10, 7.95MB/s]
 86%|########6 | 487M/565M [01:01<00:09, 8.90MB/s]
 87%|########6 | 489M/565M [01:02<00:09, 8.61MB/s]
 87%|########6 | 490M/565M [01:02<00:08, 8.79MB/s]
 87%|########7 | 492M/565M [01:02<00:07, 9.64MB/s]
 87%|########7 | 494M/565M [01:02<00:07, 10.3MB/s]
 88%|########7 | 496M/565M [01:02<00:06, 10.7MB/s]
 88%|########8 | 498M/565M [01:03<00:06, 10.7MB/s]
 88%|########8 | 500M/565M [01:03<00:06, 11.0MB/s]
 89%|########8 | 502M/565M [01:03<00:05, 11.2MB/s]
 89%|########9 | 504M/565M [01:03<00:05, 11.4MB/s]
 90%|########9 | 506M/565M [01:03<00:05, 11.5MB/s]
 90%|########9 | 508M/565M [01:03<00:05, 11.6MB/s]
 90%|######### | 510M/565M [01:04<00:04, 11.6MB/s]
 91%|######### | 512M/565M [01:04<00:04, 11.7MB/s]
 91%|######### | 514M/565M [01:04<00:04, 11.7MB/s]
 91%|#########1| 516M/565M [01:04<00:04, 11.8MB/s]
 92%|#########1| 518M/565M [01:04<00:04, 11.7MB/s]
 92%|#########2| 520M/565M [01:05<00:04, 9.57MB/s]
 92%|#########2| 521M/565M [01:05<00:09, 4.92MB/s]
 92%|#########2| 522M/565M [01:05<00:08, 5.50MB/s]
 93%|#########2| 524M/565M [01:06<00:06, 6.78MB/s]
 93%|#########3| 526M/565M [01:06<00:08, 5.03MB/s]
 93%|#########3| 528M/565M [01:06<00:06, 6.20MB/s]
 94%|#########3| 530M/565M [01:07<00:05, 7.22MB/s]
 94%|#########4| 532M/565M [01:07<00:04, 8.19MB/s]
 94%|#########4| 534M/565M [01:07<00:03, 9.07MB/s]
 95%|#########4| 536M/565M [01:07<00:03, 9.77MB/s]
 95%|#########5| 538M/565M [01:07<00:02, 10.3MB/s]
 96%|#########5| 540M/565M [01:08<00:02, 10.7MB/s]
 96%|#########5| 542M/565M [01:08<00:02, 11.0MB/s]
 96%|#########6| 544M/565M [01:08<00:03, 6.65MB/s]
 97%|#########6| 546M/565M [01:09<00:04, 5.01MB/s]
 97%|#########6| 548M/565M [01:09<00:02, 6.06MB/s]
 97%|#########7| 550M/565M [01:09<00:02, 7.09MB/s]
 98%|#########7| 552M/565M [01:09<00:01, 8.06MB/s]
 98%|#########8| 554M/565M [01:10<00:01, 8.79MB/s]
 98%|#########8| 556M/565M [01:10<00:01, 9.46MB/s]
 99%|#########8| 558M/565M [01:10<00:00, 10.1MB/s]
 99%|#########9| 560M/565M [01:10<00:00, 10.5MB/s]
 99%|#########9| 562M/565M [01:10<00:00, 10.7MB/s]
100%|#########9| 564M/565M [01:11<00:00, 8.00MB/s]
100%|#########9| 565M/565M [01:11<00:00, 5.13MB/s]
100%|##########| 565M/565M [01:11<00:00, 8.24MB/s]

In [1]:
!kaggle datasets download -d paramaggarwal/fashion-product-images-small

Dataset URL: https://www.kaggle.com/datasets/paramaggarwal/fashion-product-images-small
License(s): copyright-authors
fashion-product-images-small.zip: Skipping, found more recently modified local copy (use --force to force download)

In [2]:
import zipfile
import os

# Path to the downloaded zip file
zip_file_path = 'fashion-product-images-small.zip'

# Directory to extract the files to
extract_to_dir = 'fashion_dataset'

# Unzip the file
with zipfile.ZipFile(zip_file_path, 'r') as zip_ref:
    zip_ref.extractall(extract_to_dir)

# List the contents of the extracted directory
extracted_files = os.listdir(extract_to_dir)
print("Extracted files:", extracted_files)

Extracted files: ['images', 'myntradataset', 'styles.csv']

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

In [5]:
# Load the dataset
df = pd.read_csv('styles.csv')

# Display the first few rows of the dataset
df.head()

,id,gender,masterCategory,subCategory,articleType,baseColour,season,year,usage,productDisplayName,Unnamed: 10,Unnamed: 11
0,15970,Men,Apparel,Topwear,Shirts,Navy Blue,Fall,2011.0,Casual,Turtle Check Men Navy Blue Shirt,NaN,NaN
1,39386,Men,Apparel,Bottomwear,Jeans,Blue,Summer,2012.0,Casual,Peter England Men Party Blue Jeans,NaN,NaN
2,59263,Women,Accessories,Watches,Watches,Silver,Winter,2016.0,Casual,Titan Women Silver Watch,NaN,NaN
3,21379,Men,Apparel,Bottomwear,Track Pants,Black,Fall,2011.0,Casual,Manchester United Men Solid Black Track Pants,NaN,NaN
4,53759,Men,Apparel,Topwear,Tshirts,Grey,Summer,2012.0,Casual,Puma Men Grey T-shirt,NaN,NaN

## Dataset Preprocessing

In [7]:
df.columns

Index(['id', 'gender', 'masterCategory', 'subCategory', 'articleType',
       'baseColour', 'season', 'year', 'usage', 'productDisplayName',
       'Unnamed: 10', 'Unnamed: 11'],
      dtype='object')

In [8]:
df.shape

(44446, 12)

In [9]:
# check if there are any missing values
df.isnull().sum()

id                        0
gender                    0
masterCategory            0
subCategory               0
articleType               0
baseColour               15
season                   21
year                      1
usage                   317
productDisplayName        7
Unnamed: 10           44424
Unnamed: 11           44444
dtype: int64

In [12]:
# Drop the columns 'Unnamed: 10' and 'Unnamed: 11'
df = df.drop(['Unnamed: 10', 'Unnamed: 11'], axis=1)

In [13]:
# check if there are any missing values
df.isnull().sum()

id                      0
gender                  0
masterCategory          0
subCategory             0
articleType             0
baseColour             15
season                 21
year                    1
usage                 317
productDisplayName      7
dtype: int64

In [14]:
# Drop rows with missing values
df.dropna(inplace=True)

# Print the first few rows to verify
print(df.head())

      id gender masterCategory subCategory  articleType baseColour  season  \
0  15970    Men        Apparel     Topwear       Shirts  Navy Blue    Fall
1  39386    Men        Apparel  Bottomwear        Jeans       Blue  Summer
2  59263  Women    Accessories     Watches      Watches     Silver  Winter
3  21379    Men        Apparel  Bottomwear  Track Pants      Black    Fall
4  53759    Men        Apparel     Topwear      Tshirts       Grey  Summer

     year   usage                             productDisplayName
0  2011.0  Casual               Turtle Check Men Navy Blue Shirt
1  2012.0  Casual             Peter England Men Party Blue Jeans
2  2016.0  Casual                       Titan Women Silver Watch
3  2011.0  Casual  Manchester United Men Solid Black Track Pants
4  2012.0  Casual                          Puma Men Grey T-shirt

In [15]:
# Before dropping missing values
print("Shape before dropping missing values:", df.shape)

# Drop rows with missing values
df.dropna(inplace=True)

# After dropping missing values
print("Shape after dropping missing values:", df.shape)

Shape before dropping missing values: (44099, 10)
Shape after dropping missing values: (44099, 10)

In [16]:
# arrange in ascending order of id
# data.sort_values('id', inplace=True)

Check Uniques

In [17]:
# check the unique values in the column 'masterCategory'
df['masterCategory'].unique()

array(['Apparel', 'Accessories', 'Footwear', 'Personal Care',
       'Free Items', 'Sporting Goods', 'Home'], dtype=object)

In [18]:
# check the unique values in the column 'subCategory'
df['subCategory'].unique()

array(['Topwear', 'Bottomwear', 'Watches', 'Socks', 'Shoes', 'Belts',
       'Flip Flops', 'Bags', 'Innerwear', 'Sandal', 'Shoe Accessories',
       'Fragrance', 'Jewellery', 'Lips', 'Saree', 'Eyewear', 'Scarves',
       'Dress', 'Loungewear and Nightwear', 'Wallets', 'Apparel Set',
       'Headwear', 'Mufflers', 'Skin Care', 'Makeup', 'Free Gifts',
       'Ties', 'Accessories', 'Nails', 'Beauty Accessories',
       'Water Bottle', 'Skin', 'Eyes', 'Bath and Body', 'Gloves',
       'Sports Accessories', 'Cufflinks', 'Sports Equipment', 'Stoles',
       'Hair', 'Perfumes', 'Home Furnishing', 'Umbrellas', 'Wristbands',
       'Vouchers'], dtype=object)

In [19]:
# check the unique values in the column 'articleType'
df['articleType'].unique()

# count the number of unique values in the column 'articleType'
df['articleType'].nunique()

142

In [20]:
# check the unique values in the column 'baseColour'
df['baseColour'].unique()

array(['Navy Blue', 'Blue', 'Silver', 'Black', 'Grey', 'Green', 'Purple',
       'White', 'Beige', 'Brown', 'Bronze', 'Teal', 'Copper', 'Pink',
       'Off White', 'Maroon', 'Red', 'Khaki', 'Orange', 'Yellow',
       'Charcoal', 'Gold', 'Steel', 'Tan', 'Multi', 'Magenta', 'Lavender',
       'Sea Green', 'Cream', 'Peach', 'Olive', 'Skin', 'Burgundy',
       'Coffee Brown', 'Grey Melange', 'Rust', 'Rose', 'Lime Green',
       'Mauve', 'Turquoise Blue', 'Metallic', 'Mustard', 'Taupe', 'Nude',
       'Mushroom Brown', 'Fluorescent Green'], dtype=object)

In [21]:
# check the unique values in the column 'season'
df['season'].unique()

array(['Fall', 'Summer', 'Winter', 'Spring'], dtype=object)

In [23]:
# check the unique values in the column 'year'
df['year'].unique()

array([2011., 2012., 2016., 2017., 2015., 2014., 2010., 2013., 2018.,
       2019., 2007., 2009., 2008.])

In [24]:
# check the unique values in the column 'usage'
df['usage'].unique()

array(['Casual', 'Ethnic', 'Formal', 'Sports', 'Smart Casual', 'Travel',
       'Party', 'Home'], dtype=object)

In [25]:
# check the unique values in the column 'productDisplayName'
df['productDisplayName'].unique()

# count the total number of unique values in the column 'productDisplayName'
df['productDisplayName'].nunique()

30820

In [26]:
# treat year as integer
df['year'] = df['year'].astype(int)
df.head()

,id,gender,masterCategory,subCategory,articleType,baseColour,season,year,usage,productDisplayName
0,15970,Men,Apparel,Topwear,Shirts,Navy Blue,Fall,2011,Casual,Turtle Check Men Navy Blue Shirt
1,39386,Men,Apparel,Bottomwear,Jeans,Blue,Summer,2012,Casual,Peter England Men Party Blue Jeans
2,59263,Women,Accessories,Watches,Watches,Silver,Winter,2016,Casual,Titan Women Silver Watch
3,21379,Men,Apparel,Bottomwear,Track Pants,Black,Fall,2011,Casual,Manchester United Men Solid Black Track Pants
4,53759,Men,Apparel,Topwear,Tshirts,Grey,Summer,2012,Casual,Puma Men Grey T-shirt

In [27]:
# make a column called image which contains the path of the image
df['imagePath'] = 'images/' + df['id'].astype(str) + '.jpg'

# check the first 5 rows of the data
df.head()

,id,gender,masterCategory,subCategory,articleType,baseColour,season,year,usage,productDisplayName,imagePath
0,15970,Men,Apparel,Topwear,Shirts,Navy Blue,Fall,2011,Casual,Turtle Check Men Navy Blue Shirt,images/15970.jpg
1,39386,Men,Apparel,Bottomwear,Jeans,Blue,Summer,2012,Casual,Peter England Men Party Blue Jeans,images/39386.jpg
2,59263,Women,Accessories,Watches,Watches,Silver,Winter,2016,Casual,Titan Women Silver Watch,images/59263.jpg
3,21379,Men,Apparel,Bottomwear,Track Pants,Black,Fall,2011,Casual,Manchester United Men Solid Black Track Pants,images/21379.jpg
4,53759,Men,Apparel,Topwear,Tshirts,Grey,Summer,2012,Casual,Puma Men Grey T-shirt,images/53759.jpg

In [28]:
# check the first 5 rows of the data
df.head()

,id,gender,masterCategory,subCategory,articleType,baseColour,season,year,usage,productDisplayName,imagePath
0,15970,Men,Apparel,Topwear,Shirts,Navy Blue,Fall,2011,Casual,Turtle Check Men Navy Blue Shirt,images/15970.jpg
1,39386,Men,Apparel,Bottomwear,Jeans,Blue,Summer,2012,Casual,Peter England Men Party Blue Jeans,images/39386.jpg
2,59263,Women,Accessories,Watches,Watches,Silver,Winter,2016,Casual,Titan Women Silver Watch,images/59263.jpg
3,21379,Men,Apparel,Bottomwear,Track Pants,Black,Fall,2011,Casual,Manchester United Men Solid Black Track Pants,images/21379.jpg
4,53759,Men,Apparel,Topwear,Tshirts,Grey,Summer,2012,Casual,Puma Men Grey T-shirt,images/53759.jpg